html {
    scroll-behavior:smooth;
}

body {
    background-color: black;
    color: white;
    font-weight: lighter;
}

.text-justify {
    text-align: justify;
}

.section-destacados img {
    height: 120px;
    object-fit: cover;

}

.footer-wrap {
    display: flex;
    justify-content: space-around;
  }